	table{
		border-collapse:collapse;
	}
table th{
	text-align: left;
	background-color:#3a6070;
	color:#FFF
	padding: 4px 34px 4px 8px;
}
table td{
	border: 1px solid #3a6070;
	padding: 5px 10px;
}
table tr:nth-child(odd)td{
	background-color: #3a6070;
}
body
{
  margin: 0;
  padding: 0;
  animation: bgcolor infinite 20s;
  }
  h1
  {
  margin: 0;
  padding: 0;
  font-family: cursive;
  font-size:x-large;
  color:#FFCCCC;
  position absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  }
  @keyframes bgcolor{
  0%
  {
      background: #e67e22;
	}
20%
{
background: #f1c40f;	
}40%{
background: #2980b9;
}60%{
background: #d35400;
}80%{
background: #9b59b6;
}100%{
	
